In [1]:
import pandas as pd

In [2]:
a=pd.read_excel('2002년01분기.xlsx')
b=pd.read_excel('2002년02분기.xlsx')
c=pd.read_excel('2002년03분기.xlsx')
d=pd.read_excel('2002년04분기.xlsx')

In [3]:
a = a[a['지역'].str.contains('부산')]
b = b[b['지역'].str.contains('부산')]
c = c[c['지역'].str.contains('부산')]
d = d[d['지역'].str.contains('부산')]

In [4]:
df=pd.concat([a,b,c,d],ignore_index=True)
df.sample(5)

,지역,측정소명,측정소코드,측정일시,SO2,CO,O3,NO2,PM10,주소
3492,부산 동구,초량동,221131,2002022513,-999.000,-999.0,-999.000,-999.000,-999,부산 동구 중앙대로
106310,부산 사상구,학장동,221181,2002112815,0.007,0.5,0.023,0.032,73,부산 사상구 학장동
88135,부산 금정구,부곡동,221251,2002080708,0.001,0.7,0.007,0.024,40,부산 금정구 부곡로 156번길 7
40820,부산 사상구,학장동,221181,2002061121,0.007,1.1,0.030,0.043,60,부산 사상구 학장동
103058,부산 남구,대연동,221172,2002101603,0.013,1.0,0.001,0.040,57,부산 남구 대연동

In [5]:
df.to_csv('2002년_1.csv',encoding='utf-8-sig')