In [3]:
import pandas as pd

In [2]:
a=pd.read_excel('2001년01분기.xlsx')
b=pd.read_excel('2001년02분기.xlsx')
c=pd.read_excel('2001년03분기.xlsx')
d=pd.read_excel('2001년04분기.xlsx')

In [4]:
a = a[a['지역'].str.contains('부산')]
b = b[b['지역'].str.contains('부산')]
c = c[c['지역'].str.contains('부산')]
d = d[d['지역'].str.contains('부산')]

In [5]:
df=pd.concat([a,b,c,d],ignore_index=True)
df.sample(5)

,지역,측정소명,측정소코드,측정일시,SO2,CO,O3,NO2,PM10,주소
60843,부산 남구,대연동,221172,2001092304,0.003,1.0,0.028,0.013,23,부산 남구 대연동
78126,부산 영도구,태종대,221141,2001120807,0.014,1.2,0.009,0.017,90,부산 영도구 동삼2동
33025,부산 동래구,온천동,221162,2001042302,0.004,0.7,0.014,0.042,53,부산 동래구 온천2동(중앙대로)
82418,부산 동래구,온천동,221162,2001120303,0.011,1.4,0.013,0.035,110,부산 동래구 온천2동(중앙대로)
63554,부산 북구,덕천동,221182,2001071403,0.002,0.5,0.011,0.022,77,부산 북구 덕천동

In [16]:
df.to_csv('2001년_1.csv',encoding='utf-8-sig')