In [1]:
import pandas as pd

In [2]:
a=pd.read_excel('2004년01분기.xlsx')
b=pd.read_excel('2004년02분기.xlsx')
c=pd.read_excel('2004년03분기.xlsx')
d=pd.read_excel('2004년04분기.xlsx')

In [3]:
a = a[a['지역'].str.contains('부산')]
b = b[b['지역'].str.contains('부산')]
c = c[c['지역'].str.contains('부산')]
d = d[d['지역'].str.contains('부산')]

In [4]:
df=pd.concat([a,b,c,d],ignore_index=True)
df.sample(5)

,지역,측정소코드,측정소명,측정일시,SO2,CO,O3,NO2,PM10,주소,DATA_TINE
101244,부산 강서구,221212,녹산동,2004-08-21 13,0.003,0.2,0.034,0.011,44,부산 강서구 녹산산단 382로 49번길 39,NaN
115482,부산 영도구,221141,태종대,NaN,0.004,0.3,0.047,0.005,60,부산 영도구 전망로 24,2004-10-01 19
140781,부산 연제구,221221,연산동,NaN,0.002,0.5,0.010,0.031,22,부산 연제구 중앙대로 1001,2004-11-12 22
94347,부산 금정구,221191,청룡동,2004-08-10 04,0.006,0.6,0.029,0.016,90,부산 금정구 청룡로 25,NaN
42359,부산 영도구,221141,태종대,2004-06-06 24,0.011,0.7,0.042,0.030,56,부산 영도구 전망로 24,NaN

In [5]:
df.to_csv('2004년_1.csv',encoding='utf-8-sig')